{% extends "base_generic.html" %}

{% block content %}
<img src="http://nebula.wsimg.com/cefc709bd27224f6e0891ce66f3cd5b0?AccessKeyId=5B0537F3E41F17510FAD&disposition=0&alloworigin=1">

<h1>Feedback Survey</h1>
<iframe src="http://www.docs.google.com/forms/d/e/1FAIpQLSc4C4wWRjaE6HdiS8-xtdGnpIgMCwabxEOCnbVe9qUMIB_Fig/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<style>
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    font-size: 64px;
    font-family: Impact, Charcoal, sans-serif;
}
iframe {
  align-self: center;
}
</style>
{% endblock %}
