{% extends "base_generic.html" %}

{% block content %}


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>


<h1>InteractiveMFW</h1>

  <p>An interactive section of MFW</p>

<h2>Activity</h2>

  <p>The following users are active:</p>
  <ul>
    <li><strong>Students - </strong> {{ num_students }}</li>
    <li><strong>Teachers - </strong> {{ num_teachers }}</li>
  </ul>

<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.malariafreeworld.org&layout=button_count&size=small&mobile_iframe=false&width=75&height=20&appId"
width="75" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=I%20Love%20Malaria%20Free%20World%20App">
Tweet</a>
</body>
<style>

 h1{
   font-family: Impact, Charcoal, sans-serif;
 }

 h2{
   font-family: Impact, Charcoal, sans-serif;
 }
</style>
{% endblock %}
