{% extends "base_generic.html" %}

{% block content %}
<img src="http://nebula.wsimg.com/aaa0cbb9f191aca4bb90253447d0353e?AccessKeyId=5B0537F3E41F17510FAD&disposition=0&alloworigin=1">

<h1>MODULES</h1>

<a href="http://www.malariafreeworld.org/faqs.html" class="educate">Educate</a>
<a href="http://www.malariafreeworld.org/crossword.html" class="understand">Understand</a>
<a href="{% url 'quiz' %}" class="empower">Empower</a>
<style>
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    font-size: 48px;
}
.educate {
    background-color: #FF4F41;
    border: 2px solid #FF4F41;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.educate:hover {
  background-color: white;
  color: #FF4F41;

}

.understand {
    background-color: #6CC0C3;
    border: 2px solid #6CC0C3;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.understand:hover {
  background-color: white;
  color: #6CC0C3;

}

.empower {
    background-color: #A7DBC5;
    border: 2px solid #A7DBC5;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.empower:hover {
  background-color: white;
  color: #A7DBC5;

}
</style>
{% endblock %}
